---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// Import your CSS file
import '../styles/registration-style.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <BaseHead />
</head>
<body>
    <Header />

<main>
<link rel="stylesheet" href=/registration-style.css
>
<div id="cwfForm">Form is being loaded</div>
<script type="text/javascript" src="https://leden.conscribo.nl/testorganisatie/jsForm/load/f7f1/cwfForm" ></script>
</main>

<footer />

</body>
</html>
