---
// You can add any imports or frontmatter variables here
---

<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>T.S.K.V. Spartacus</h3>
                <p>The largest student strength sports association in the Benelux, promoting powerlifting, bodybuilding, and fitness at Tilburg University.</p>
                <div class="social-links">
                    <a href="https://www.facebook.com/T.S.K.V.Spartacus/" target="_blank"> <i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/tskvspartacus/"target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/t.s.k.v.-spartacus/posts/?feedView=all"target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-column">
                <h3>Quick Links</h3>
                <ul class="footer-links">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/strenghtsports">Strenghtsports</a></li>
                    <li><a href="/become-a-member">Membership</a></li>
                    <li><a href="/history">Our History</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Member Benefits</h3>
                <ul class="footer-links">
                    <li><a href="/contact">Contact us</a></li>
                    <li><a href="/membership-discounts/bossers-vlees">Bossers Vlees</a></li>
                    <li><a href="/membership-discounts/fysiofitaal">Fysio Fitaal</a></li>
                    <li><a href="/webshop.html">Webshop</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contact Us</h3>
                <ul class="footer-links">
                    <li><a href="/membership-discounts">Membership Discounts</a></li>
                    <li><a href="/membership-discounts/bossers-vlees" target="_blank">KNKF registration</a></li>
                    <li><a href="/webshop">Webshop</a></li>
                    <li><a href="/important-documents">Important documents</a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>&copy; 2025 T.S.K.V. Spartacus. All rights reserved.</p>
        </div>
    </div>
</footer>
