---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
        <div class="container">
            <a href="index.html" class="logo">T.S.K.V. <span>Spartacus</span></a>
            <button class="nav-toggle"><i class="fas fa-bars"></i></button>
            <nav>
                <ul>
                    <li><a href="index">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="powerlifting">Powerlifting</a></li>
                    <li><a href="become-a-member">Membership</a></li>
                    <li><a href="membership-discounts">Discounts</a></li>
                    <li><a href="webshop">Webshop</a></li>
                    <li><a href="contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
