---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
        <div class="container">
            <a href="index.html" class="logo">T.S.K.V. <span>Spartacus</span></a>
            <button class="nav-toggle"><i class="fas fa-bars"></i></button>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="powerlifting.html">Powerlifting</a></li>
                    <li><a href="become-a-member.html">Membership</a></li>
                    <li><a href="membership-discounts.html">Discounts</a></li>
                    <li><a href="webshop.html">Webshop</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
